APP_NAME="Healthy Bite"
APP_ENV=production
APP_URL=https://healthybite.infinityfree.me
APP_KEY=hb_secret_prod_key_2026

DB_HOST=sql303.infinityfree.com
DB_PORT=3306
DB_DATABASE=if0_43060466_healthy_bite
DB_USERNAME=if0_43060466
DB_PASSWORD=your_production_db_password
DB_CHARSET=utf8mb4

DEFAULT_RESTAURANT_ID=1
TAX_RATE=0.05
SERVICE_CHARGE=0.00
